h1{
    font-family:Arial, Helvetica, sans-serif; 
    color: rgb(63,81,181);
    
}
th{
    text-align: center;
    color: white;
    background-color: rgb(13, 7, 51) !important;

  }
  td{
    text-align: center;
  }
  .heading{
      color: rgb(13,7,51);
  }