<mat-card class="mt-3 container example-card w-50 mx-auto">
    <div class="mx-auto">
        <mat-card-header>
            <b>
                <h1 class="header-class">Profile</h1>
            </b>
        </mat-card-header>
    </div>

    <mat-divider></mat-divider>

    <div class="mx-auto mt-3 ">
        <label color="accent" class="ml-2">Name : </label> {{customer.firstName}} {{customer.lastName}}  
       
    </div>

    <div class="mx-auto mt-2 ">
        <label class="ml-2">Email : </label>{{customer.emailId}}
    </div>

    <div class="mx-auto mt-2">
        <label class="ml-2">UserName : </label> {{customer.userName}}
    </div>

    <div class="mx-auto mt-2">
        <label class="ml-2">Contact number : </label>{{customer.contactNo}}
    </div>

    <div class="mx-auto mt-2">
        <label class="ml-2">Role : </label>{{customer.role}}
    </div>

    <div class="mx-auto mt-2 mb-2 ml-2">
        <button mat-raised-button routerLink="/forgot" color="primary">Change password</button>
    </div>

</mat-card>